@import '~bootstrap/scss/bootstrap';

$background-color: #919ade;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

body {
  background-color: $white;
}

h1 {
  text-align: center;
}

.logged-in {
  display: none;
}


.logged-out {
  align-content: center;
}

// .row {
//   border: 3px solid $black
// }

#one {
  border: 3px solid $black;
  height: 175px;
  max-width: 300px;
}

#two {
  border: 3px solid $black;
  height: 175px;
  max-width: 300px;
  align-content: center;
}
