@import '~bootstrap/scss/bootstrap';

$background-color: #919ade;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

body {
  background-color: $white;
}

h1 {
  text-align: center;
}

.nav {
  align-self: center;
}

.win-text {
  text-align: center;
}

.logged-in {
  display: none;
}

.container {
  display: none;
}
