@import '~bootstrap/scss/bootstrap';

$background-color: #919ade;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

body {
  background-color: $white;
}

h1 {
  text-align: center;
}

.logged-in {
  display: none;
}

#column1 {
  display: none;
  margin: auto;
  border: 3px solid $black;
  padding: 10px;
  border-radius: 15px;
}

#column2 {
  display: none;
  margin: auto;
  border: 3px solid $black;
  padding: 10px;
  border-radius: 15px;
}

#change-password-button {
  display: none;
}

#sign-out {
  display: none;
}

#purchases-index {
  display: none;
}

#purchase-show-button {
  display: none;
}

#purchase-update-button {
  display: none;
}

#purchase-destroy-button {
  display: none;
}

#purchase-create-button {
  display: none;
}

#user-message {
  text-align: center;
}

#purchase-show {
  // display: flex;
  border: 3px solid $black;
  padding: 10px;
  border-radius: 15px;
}

#purchase-update {
  // display: flex;
  border: 3px solid $black;
  padding: 10px;
  border-radius: 15px;
}

#purchase-destroy {
  // display: flex;
  // justify-content: center;
  border: 3px solid $black;
  padding: 10px;
  border-radius: 15px;
}

#purchases-create {
  // display: flex;
  // justify-content: center;
  border: 3px solid $black;
  padding: 20px;
  border-radius: 15px;
}

#change-password {
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  border: 3px solid $black;
  padding: 20px;
  border-radius: 15px;
}

#nav1 {
  display: flex;
  justify-content: center;


}

#nav2 {
  display: flex;
  justify-content: space-around;
}

#content {
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

button {
  // border-radius: 15px;
  // background-color: red;
  // color: white;
  // width: 200px;
  // border: 2px solid black;
}

#sign-in-button {
  margin-right: 5px;
}

#sign-up-button {
  margin-left: 5px;
}

nav {
  background-color: grey;
}

header {
  height: 100px;
}

// header {
//   background-color: $background-color;
// }
//
// nav {
//   background-color: $teal;
// }
